<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key ="HBM_ASSEMBLY" value="FastFood.Core"/>
		<add key="FastFood.Core.UsarCadenaConexionEncriptada" value="false"/>
		<add key="FastFood.Core.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
		<add key="FastFood.Core.dialect" value="NHibernate.Dialect.MsSql2000Dialect"/>
		<add key="FastFood.Core.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
		<add key="FastFood.Core.connection.connection_string" value="data source=localhost; database=fastfood; user id=sa; Password=sa; "/>
		<add key="FastFood.Core.connection.isolation" value="ReadCommitted"/>


	</appSettings>
</configuration>